.bootgrid-col{
    border:1px gray dashed;
    -webkit-user-modify: read-write;
    -moz-user-focus: normal;
    background: #eee;
   
}
.bootgrid-col > div:first-child::before{
    -webkit-user-modify: read-only; 
    -moz-user-focus: ignore;
    content: " \A";
    height:5px;
    display:block;
    width:100%;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDIvMDgvMTfLiXpEAAAASUlEQVQ4je3RsREAIQhE0S8N0H95lLAVnIGBxrrZQUjwBuaPqvo4JjORxO0unJikDTowYIEuDCCcGEA4sY7ieb2jvF/bUf4QZQKkB/D3txdi+gAAAABJRU5ErkJggg==')
}

.bootgrid-col > *{
    background: #fff;
}
